@charset "utf-8";

*{
    font-family:Arial, Helvetica, sans-serif;
    
    }

body {
    background-image: linear-gradient(to right, #D9C5AC, #F2E1C2);
}
main{
    background-color:white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #736E66;
    }
    
h1  {
    color: #8C2C16;
    text-shadow: 2px 2px 1px #D9C5AC;
  

}    

h2 {
    color:#4B444B;
}
p {
    color:#736E66;
} 